<h1 *ngIf="isAddMode">Add User</h1>
<h1 *ngIf="!isAddMode">Edit User</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-4">
            <label>First Name</label>
            <input type="text" formControlName="firstName" class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group col-4">
            <label>Middle Name</label>
            <input type="text" formControlName="middleName" class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && f.middleName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.middleName.errors?.required">Middle Name is required</div>
            </div>
        </div>        
        <div class="form-group col-4">
            <label>Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors?.required">Last Name is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-5">
            <label>Email</label>
            <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors?.required">Email is required</div>
                <div *ngIf="f.email.errors?.email">Email must be a valid email address</div>
            </div>
        </div>
        <div class="form-group col-5">
            <label>BirthDate</label>
            <input type="date" formControlName="birthDate" class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && f.birthDate.errors }" t>
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.birthDate.errors?.required">BirthDate is required</div>
            </div>
        </div>
    </div>

    <!-- <div *ngIf="!isAddMode">
        <h3 class="pt-3">Change Password</h3>
        <p>Leave blank to keep the same password</p>
    </div> -->

    <div class="form-row">
        <div class="form-group col">
            <label>Mobile Number</label>
            <input type="number" formControlName="mobileNumber" class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.mobileNumber.errors?.required">Mobile Number is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Address</label>
            <select formControlName="addressId" class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && f.addressId.errors }">
                <option value=""></option>
                <option value="1">Address fake 1</option>
                <option value="2">Address fake 2</option>
                <option value="3">Address fake 3</option>
                <option value="4">Address fake 4</option>
            </select>
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.addressId.errors?.required">Address is required</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/users" class="btn btn-link">Cancel</a>
    </div>
</form>